    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --primary-color: white;
        --secondary-color: black;
        --next-color: rgba(102, 94, 94, 0.884);
        --shadow-color: rgba(255, 255, 255, 0.493);
        --transition-delay: 0s;
    }

    .dark-theme {
        --primary-color: black;
        --secondary-color: rgba(204, 197, 197, 0.863);
        --next-color: rgba(0, 0, 0, 0.849);
        --shadow-color: rgb(0, 0, 0);
        --transition-delay: 1s;
    }

    body{
        padding: 17px;
        background-color: black;
    }

    .div1{
        position: relative;
        background-image: url('https://source.unsplash.com/1920x1080/?gaming,hackers,darkweb,technology,linux,hack,cybercrime');
        min-height: 95.5vh;
        width: 100%;
        border-radius: 10px;
    }

    .div2 {
        position: relative;
        background-color: var(--next-color);
        min-height: 95.5vh;
        width: 100%;
        border-radius: 10px;
        padding-top: 5px;
        transition: 1s;
    }

    .div3{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-family: custom;
        letter-spacing: 2px;
        font-size: clamp(.1rem, 9.5vw, 3.5rem);
        color: var(--secondary-color);
        text-shadow: 1px 1px 9px var(--shadow-color);
    }


    .div4{
        background-color: rgba(255, 127, 80, 0);
        width: 100%;
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 5%;
    }

    .div5{
        background-color: rgba(100, 255, 80, 0);
        width: 100%;
        padding-left: 13%;
        padding-right: 32%;
    }

    .div6{
        background-color: rgba(83, 80, 255, 0);
        width: 100%;
        padding-right: 13%;
        padding-left: 32%;
    }

    .div7 {
        background-color: rgba(80, 229, 255, 0);
        width: 100%;
        padding-left: 13%;
        padding-right: 32%;
    }

    .div1:before,
    .div1:after {

        content: '';
        position: absolute;
        top: -6px;
        left: -6px;
        background: radial-gradient(circle, #e6fb04 0%, #ff6600 10%, #00ff66 20%, #00ffff 30%, #ff00ff 40%, #ff0099 50%, #6e0dd0 60%, #ff3300 70%, #099fff);
        background-size: 400% 400%;
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        z-index: -1;
        border-radius: 10px;
        animation: animate 15s linear infinite;
    }

    @keyframes animate {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 400% 0;
        }

        100% {
            background-position: 0 0;
        }
    }

    .div1:after {

        filter: blur(10px);

    }

        @font-face {
            font-family: custom;
            src: url('fonts/font2.ttf');
        }

        @font-face {
            font-family: custom2;
            src: url('fonts/font1.ttf');
        }

            #icon {
                width: 20px;
                cursor: pointer;
                
            }

            .mo {
                margin-right: .5rem;
            }

                .profile {
                    max-height: 112px;
                    border-radius: 10px;
                    float: left;
                    margin-right: 8px;
                }

                .skill {
                    max-height: 108px;
                    border-radius: 10px;
                    float: right;
                    margin-left: 8px;
                }

                .interest {
                    max-height: 85px;
                    border-radius: 10px;
                    float: left;
                    margin-right: 8px;
                }

                .fir {
                    color: var(--secondary-color);
                    font-size: 15px;
                    font-weight: 400;
                    text-align: justify;
                }

                .sec {
                    color: var(--secondary-color);
                    font-size: 15px;
                    font-weight: 400;
                    text-align: justify;
                }

                .third {
                    color: var(--secondary-color);
                    font-size: 15px;
                    font-weight: 400;
                    text-align: justify;
                }

                li{
                color: var(--secondary-color);
                }

                .div4 h1{
                    font-family: custom2;
                    font-weight: 500px;
                    font-size: clamp(1.5rem, 2vw, 3rem);
                    color: var(--secondary-color);
                }

                .info {
                    text-align: center;
                    color: rgba(255, 255, 255, 0.932);
                    font-size: 15px;
                    margin-bottom: 1%;
                }

                .foot{
                    background-color: transparent;
                    transition: 1s;
                }
                

                @media (max-width: 600px) {
                    .div5 {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        flex-direction: column;
                        padding-left: 5%;
                        padding-right: 5%;
                    }
                    .div6 {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        flex-direction: column;
                        padding-left: 5%;
                        padding-right: 5%;
                    }
                    .div7 {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        flex-direction: column;
                        padding-left: 5%;
                        padding-right: 5%;
                    }
                }

                @media (min-width: 600px) {
                    .div6 h1 {
                        text-align: end;
                    }
                }
